/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", Times, serif;
    line-height: 1.5;

    --primary-text-color: #121215;
    --secondary-text-color: #333336;
    --durability-text-color: #4446499c;
    --background-light-color: #f9f9f99c;
    --icon-color: #626e7c;
    --primary-dark-color: #09494b;
    --primary-medium-color: #07a7ac;
    --primary-light-color: #eefafb;
    --secondary-dark-color: #6d2c07;
    --secondary-medium-color: #fea002;
    --secondary-light-color: #fef9f5;
    --border-color: #ff9a0045;
    --text-decoration-color: #ff9a00;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

.resume {
    margin: 50px auto;
    border: 1px solid var(--primary-dark-color);
    box-shadow: 1px 1px 7px 7px #f5f5f5;
    max-width: 1200px;
}

.main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

@media screen and (max-width: 576px) {
    .main-info,
    .contact_info_container {
        flex-direction: column;
    }

    .contact_info_container {
        align-items: center;
    }

    .contact-info__block:not(:last-child) {
        margin-bottom: 20px;
    }

    .experiences {
        margin-right: 0;
    }
}

.main-content {
    background-color: var(--secondary-light-color);
    padding: 105px 90px;
    width: 75%;
}

/* about style */

.about {
    margin-bottom: 32px;
}

.about-position {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    color: var(--secondary-text-color);
    margin-bottom: 16px;
}

.about-name {
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    color: var(--primary-text-color);
    margin-bottom: 20px;
}

.about-description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--durability-text-color);
    width: 100%;
    text-align: justify;
}

/* projects style */

.projects {
    margin-bottom: 24px;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    color: var(--secondary-text-color);
    margin-bottom: 16px;
}

.project-list {
    padding: 0;
}

.project-item {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: var(--secondary-text-color);
    background-color: var(--background-light-color);
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.1);
}

.project,
.project-link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: inherit;
}

.project {
    color: var(--durability-text-color);
}
.title-link {
    color: var(--secondary-dark-color);
}

.title-span {
    color: var(--primary-medium-color);
}

.project-link {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 20px;
}

.project-bracket {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: var(--durability-text-color);
}

/* work style */

.work {
    margin-bottom: 24px;
}

.work-list {
    padding: 0;
}

.work-list-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--secondary-text-color);
    background-color: var(--background-light-color);
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.1);
}

.work-position {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: var(--secondary-text-color);
}

.organization {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: var(--primary-medium-color);
}

.period {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    color: var(--secondary-dark-color);
}

/* education style */

.education {
    margin-bottom: 24px;
}

.education-wrap {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--secondary-text-color);
    background-color: var(--background-light-color);
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.1);
}

.education-position {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

/* sidebar style */

.sidebar {
    background-color: var(--primary-dark-color);
    padding: 32px 24px;
    width: 33.333333%;
}

.photo {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 0 0 35px 0;
    overflow: hidden;
}

/* contacts style */

.contacts,
.tech-skills,
.soft-skills,
.languages {
    margin-left: 32px;
    margin-bottom: 32px;
}

.sidebar-title {
    color: var(--secondary-medium-color);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 10px;
}

.sidebar-contacts {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 18px;
    line-height: 24px;
}

.contact-wrap {
    display: flex;
    gap: 8px;
    align-items: center;
}

.contact-link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
}

.icon {
    width: 20px;
    height: 20px;
    fill: var(--secondary-light-color);
}

/* tech-skills and soft-skills and languages style */

.tech-skills-list,
.soft-skills-list,
.languages-list {
    color: #ffffff;
    padding: 0;
    margin-left: 18px;
}

.tech-skills-item,
.soft-skills-item,
.languages-item {
    color: var(--text-decoration-color);
}

.tech-skills-text,
.soft-skills-text,
.languages-text {
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}
